<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <section class="profile-body-container">
      <section class="profile-column">
        <div class="section-title">
          Maps
          <form action="/maps/new" method="GET">
          <button type="submit" class="btn btn-secondary btn-lg">+</button>
          </form>
        </div>
        <ul>
          <% if (mapsArray) { %> <% for (let i = 0; i < mapsArray.length; i++) {
          %>

          <form action="/maps/<%= mapsArray[i].map_id %>" method="GET">
            <button type="submit" class="btn btn-outline-dark">
              <%= mapsArray[i].map_name %>
            </button>
          </form>

          <% } %> <% } %>
        </ul>
      </section>

      <section class="profile-column">
        <div class="section-title">
          Parks
          <form action="/parks/new" method="GET">
          <button type="submit" class="btn btn-secondary btn-lg">+</button>
          </form>
        </div>
        <ul>
          <% if (parksArray) { %> <% for (let i = 0; i < parksArray.length; i++)
          { %>

          <form action="/parks/<%= parksArray[i].park_id %>" method="GET">
            <button type="submit" class="btn btn-outline-dark">
              <%= parksArray[i].park_name %>
            </button>
          </form>

          <% } %> <% } %>
        </ul>
      </section>
      <section class="profile-column">
        <div class="section-title">
        Favorites
        </div>
        <ul>
          <% if (favsArray) { %> <% for (let i = 0; i < favsArray.length; i++) {
          %>

          <form action="/maps/<%= favsArray[i]. id %>" method="GET">
            <button type="submit" class="btn btn-outline-dark">
              <%= favsArray[i].name %>
            </button>
          </form>

          <% } %> <% } %>
        </ul>
      </section>
    </section>
  </body>
</html>
